@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;

  }
  .navbar-light .navbar-nav .nav-link {
    color: rgb(255 252 252 / 55%);
}
@media (min-width: 992px)
{
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    background-color: #273927;
}
}
.navbar-light .navbar-nav .nav-link a:hover{
  color: aqua;

}
